body {
    animation: 10000ms ease-in-out infinite color-change;
  }

  .contact {
    text-align: center;
  }

  .contact ul {
    list-style: none;
    padding:0;
  }

  .contact ul li {
    display: inline;
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 10px;
  }

  .logo img{
    max-width: 40%;
    padding-right: 30%;
    padding-left: 30%;
    padding-top: 5%;
  }

  head {
      position: fixed;
      padding-bottom: 100pt;
  }

  body {
    color: black;
    font-style: normal;
    text-decoration: none;
    font-family: "Monaco", monospace;
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 10px;
  }

  h1 {
    padding-top: 20px;
    font-size: 14pt;
    text-transform: uppercase;
  }

  h2 {
    font-weight: normal;
    font-size: 12pt;
    padding-top: 10px;
    text-transform: uppercase;
  }

  h3 {
    font-style: italic;
    font-size: 12pt;
    text-transform: lowercase;
  }

  p {
    font-weight: normal;
    font-size: 12pt;
    text-transform: lowercase;
  }

  a {
    color: black;
    font-style: normal;
    text-decoration: none;
    font-family: "Monaco", monospace;
  }

  .button {
    font-size: 10pt;
    color: white;
    padding: 2px 6px 2px 6px;
    text-transform: uppercase;
    background-color: #cccccc;
    width: 130px;
  }

  .back a {
    color: black;
    font-style: italic;

  a :hover {
    color: rgb(212, 212, 212);
  }

  .resume img {
      max-width: 50%;
  }

  ul {
    display: inline-flex;
    flex-direction: row;
    text-align: left;
    list-style: none;
    list-style-position: inside;

  }

  li {
    padding: 10%;
  }

  @media all and (max-width: 600px)
  {
      .contact {
        text-align: center;
      }

      .contact ul {
        list-style: none;
        padding:0;
      }

      .contact ul li {
        display: inline-block;
        font-size: 10pt;
      }
  }
