body {
    animation: 10000ms ease-in-out infinite color-change;
  }

  @keyframes color-change {
    0% {
      background-color: teal;
    }
    20% {
      background-color: rgb(46, 86, 154);
    }
    40% {
      background-color: rgb(212, 58, 174);
    }
    60% {
      background-color: violet;
    }
    80% {
      background-color: rgb(68, 66, 173);
    }
    100% {
      background-color: teal;
    }
  }

  .contact {
      padding-right: 25%;
      padding-left: 18%;
  }

  .contact li {
    margin: 10%;
  }

  .logo img{
    max-width: 60%;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 25%;
  }

  a {
    color: white;
    font-style: normal;
    text-decoration: none;
    font-family: "Monaco", monospace;
  }

  a :hover {
    color: rgb(212, 212, 212);
  }

  .resume img {
      max-width: 100%;
  }

  ul {
    display: inline-flex;
    flex-direction: row;
    text-align: left;
    list-style: none;
    list-style-position: inside;

  }

  li {
    padding: 10%;
  }
