body {
    animation: 10000ms ease-in-out infinite color-change;
  }

  /*  @keyframes color-change {
    0% {
      background-color: teal;
    }
    20% {
      background-color: rgb(46, 86, 154);
    }
    40% {
      background-color: rgb(212, 58, 174);
    }
    60% {
      background-color: violet;
    }
    80% {
      background-color: rgb(68, 66, 173);
    }
    100% {
      background-color: teal;
    }
  }*/

  .contact {
    text-align: center;
  }

  .contact ul {
    list-style: none;
    padding:0;
  }

  .contact ul li {
    display: inline;
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 10px;
  }

  .logo img{
    max-width: 60%;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 25%;
  }

  a {
    color: black;
    font-style: normal;
    text-decoration: none;
    font-family: "Monaco", monospace;
  }

  a :hover {
    color: rgb(212, 212, 212);
  }

  .resume img {
      max-width: 100%;
  }

  ul {
    display: inline-flex;
    flex-direction: row;
    text-align: left;
    list-style: none;
    list-style-position: inside;

  }

  li {
    padding: 10%;
  }

  @media all and (max-width: 600px)
  {
      .contact {
        text-align: center;
      }

      .contact ul {
        list-style: none;
        padding:0;
      }

      .contact ul li {
        display: inline-block;
        font-size: 10pt;
      }
  }
